name: Setup Python as Non-Privileged User

on: 
  workflow_dispatch:

jobs:
  setup-python:
    runs-on: self-hosted

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.11
        check-latest: false
        token: ${{ secrets.GITHUB_TOKEN }}
        update-environment: true
        allow-prereleases: false

    
